.home-about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.home-about .image {
    flex: 1 1 41rem;
}

.home-about .image img {
    width: 100%;
}

.home-about .content {
    flex: 1 1 41rem;
    padding-left: 3rem;
}

.home-about .content h3 {
    font-size: 3rem;
    color: var(--black);
}

.home-about .content p {
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: var(--black);
}

@media (max-width: 500px) {
    .home-about .content {
        padding-left: 0;
    }
}