.booking .book-form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.booking .book-form .flex .inputBox {
    flex: 1 1 35rem;
}

.booking .book-form .flex :nth-child(3),
.booking .book-form .flex :nth-child(4) {
    flex: 1 1 100%;
}

.booking .book-form .flex .inputBox input {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
}

.booking .book-form .flex :nth-child(4) input {
    padding: 2.2rem 1.4rem;
}

.booking .book-form .flex .inputBox input:focus::placeholder {
    color: var(--light-white);
}

.booking .book-form .flex .inputBox span {
    font-size: 1.5rem;
    color: var(--light-black);
}

.booking .book-form .btn {
    margin-top: 2rem;
}


@media (max-width: 450px) {
    .thin-section {
        padding: 1rem !important;
    }
}